@model konusarakogren.Entity.QuizList

@{
    ViewData["Title"] = "QuizList";
}

<h1>Quiz Listesi</h1>

<p>
    <a asp-action="Index">Create New</a>
</p>
<table class="table">
    <tbody>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Publish</th>
                    <th scope="col">Process</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int quizId = 0;

                    for (int i = 0; i < Convert.ToInt32(ViewBag.Count); i++)
                    {
                        int count = i + 1;
                        string title = ViewBag.Question[i];
                        string publish = ViewBag.PublishDate[i];
                        quizId = ViewBag.QuizID[i];
                        @using (Html.BeginForm("QuizDelete", "Home", FormMethod.Post))
                        { 
                            <tr>
                                <th scope="row" name="quizId"><input type="hidden" value="@quizId" name="quizId" /></th>
                                <td>@title</td>
                                <td>@publish</td>
                                <td><input type="submit" value="Delete" class="form-control" name="submit" /></td>
                            </tr>
                        }
                    }

                }
            </tbody>
    </table>
