@model konusarakogren.Entity.Quiz

@{
    ViewData["Title"] = "QuizDelete";
}

<h1>QuizDelete</h1>
   
    <form asp-action="QuizDelete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
